{% extends 'core_app/base.html'%}
{%block title%}{{product.title}} {%endblock%}
{%block content%}
{% if product.image%}
<div class="image mb-6">
    <img src="{{product.image.url}}" alt="Image of {{product.title}}">
</div>
{%endif%}
<h1 class="text-2xl">{{product.title}}</h1>
<p class="text-xs text-gray-600">BDT {{product.get_price}}
    -
    <a href="{% url 'userprofile:vendor_detail' product.user.id%}">{% firstof product.user.get_full_name product.user.username %}</a>
</p>

{% if product.description %}
<p class="mt-4">{{product.description}}</p>
{%endif%}
<a href="{% url 'store:add_to_cart' product.id %}" class="inline-block py-4 px-8 bg-teal-500 text-white">Add to cart</a>
{%endblock%}